<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"><head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" /><title>Metamorphosis Design Free Css Templates</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="index.css" rel="stylesheet" type="text/css" />
        <link href="uploadfile.css" rel="stylesheet">
        <script type="text/javascript" src="./api/js/libs/qrcode.min.js"></script>
    //- <script type="text/javascript" src="./qrcode.min.js"></script>

    </head>

    <body onload=getName() class="loadpages">
<div class="loading" id="loading" style="display: none">
<div class="blob blob-0"></div>
</div>
<script>alert("Đăng nhập không thành công mời bạn đăng nhập lại")</script>
    <script>function getName(){{$.ajax({method: "GET",url: "http://localhost:4000/login",contentType: "application/json",success: function (response) {if(response!= "no"){document.getElementById("name").innerHTML="";document.getElementById("logout").innerHTML="<a href='http://localhost:4000/signout'>"+"<span class='glyphicon glyphicon-user'>"+response+" <span class='glyphicon glyphicon-log-out'></span></a>"};},error: function (e) {alert("Đã có lỗi xảy ra!");console.log(e);}});}}</script>
        <div class="container">
            <div id="contmain">
                <div id="left1">
                    <div id="right1">
                        <div id="header">
                            <div id="logo">
                                <h1>SEED PRODUCTION PROCESS</h1>
                               
                            </div>
                            <div id="menu">
                                <ul>
                                    <li><a href="/home" class='active contentcaygiong'>Home</a></li>
                                    <li><a href="/caygiong">Sản phẩm</a></li>
                                    <li><a href="#">Về chúng tôi</a></li>
                                    <li><a href="./xulydangki.php">Liên hệ</a></li>
                                    <li><a href="#">Hỗ trợ</a></li>
                                      //- <li >Tên đăng nhập</li>
                                    <li id="name"><a href="#" data-toggle="modal" data-target="#myform"> <span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                                    <li id="logout"></li>
                       
                                </ul>  

                            </div>
                            <!-- end header --></div>
                            <!-- start page -->
                            <div id="contente">
                                <div class='chan'>
                                    <div class="row" id="content2">
                                        <div class="col-sm-offset-2 col-md-4" id="tracuu">
                                            <h3>Tra cứu nguồn gốc sản phẩm nông nghiệp</h3>
                                            <p>Tra cứu sản phẩm dựa trên các giai đoạn đã được ghi lại</p>
                                            <button class="btn btn-success">Tra cứu <span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                        <div class="col-md-4" >
                                            <img src="images/anh1.jpg" class="img-thumbnail">
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="row" id="content1">
                                        <div class="col-md-12" id="giaidoan">
                                            <h1>Các Giai Đoạn Truy Xuất</h1>
                                        </div>
                                        <div class="col-sm-offset-2 col-md-4" >
                                            <img src="images/caygiong.jpg" class="img-thumbnail">
                                        </div>
                                        <div class="col-md-4" id="tracuu">
                                            <h2>Giai đoạn trồng cây giống</h2>
                                            <p>Cung cấp thông tin về tên cây giống, thời gian trồng, khu vực trồng,phân bón đã sử dụng,...</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row" id="content1">
                                        <div class="col-sm-offset-2 col-md-4" id="tracuu">
                                            <h2>Giai đoạn trồng cây ăn trái</h2>
                                            <p>Cung cấp thông tin phân bón sử dụng, thuốc trừ sâu bênh, người chăm sóc...</p>
                                            
                                        </div>
                                        <div class="col-md-4" >
                                            <img src="images/cayantraia.jpg" class="img-thumbnail">
                                        </div>
                                    </div>
                                    
                                    <div class="row" id="content1">
                                        <div class="col-sm-offset-2 col-md-4" >
                                            <img src="images/thumua.jpg" class="img-thumbnail">
                                        </div>
                                        <div class="col-md-4" id="tracuu">
                                            <h2>Giai đoạn thu mua</h2>
                                            <p>Cung cấp thông tin về người thu mua, cách bảo quản, địa điểm thu mua,...</p>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="row" id="content1">
                                        <div class="col-sm-offset-2 col-md-4" id="tracuu">
                                            <h2>Giai đoạn phân phối</h2>
                                            <p>Cung cấp thông tin địa điểm phân phối,cách thức vận chuyên, cách bảo quản...</p>
                                            
                                        </div>
                                        <div class="col-md-4" >
                                            <img src="images/phanphoi.jpg" class="img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                                <div class='le'>
                                    <div class="row" id="content1">
                                        <div class="col-sm-offset-2 col-md-4" >
                                            <img src="images/banle.jpg" class="img-thumbnail">
                                        </div>
                                        <div class="col-md-4" id="tracuu">
                                            <h2>Giai đoạn banle</h2>
                                            <p>Cung cấp thông tin về người nhận hàng, địa điểm, cách thức,...</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- end page -->
                            <!-- start footer -->
                            <footer>
                                <div class="wrapper">
                                    <div class="rights">
                                        <img src="" alt="" class="footer_logo"/>
                                    </div>

                                    <nav>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><p class="nav navbar-nav navbar-right">Nguyen Chi Linh <a href="http://pixelhint.com" target="_blank">Gmail.com</a></p></li>
                                            <li><a href="/admin">Admin</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>    
                            </footer>
                            <!--  End footer  -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myform" role="dialog"><div class="modal-dialog">
            <div class="modal-content"><div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h2 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Đăng nhập người dùng</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/auth" method="POST">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Tên người dùng</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Nhập tên của bạn đã đăng kí" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Mật khẩu</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="passwords" placeholder="Nhập mật khẩu của bạn" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
                        </div>
                    </div>   
                    <div class="form-group">
                     <div class="col-xs-10 col-xs-offset-2">
                         <input type="checkbox" name=""> Ghi nhớ tôi 
                     </div>                     
                     </div>    
                     <button type="submit" class="btn btn-success btn-sm" style="width: 100%">
                     <i class="fa fa-plus"></i> Đăng nhập</button>
                </form>
    </div>
    <div class="modal-footer">
        
        <div>
            <label>Nếu bạn chưa phải là thành viên hãy <li><a href="#" data-toggle="modal" data-target="#Dangkiform"><span class="glyphicon glyphicon-log-in"></span>Đăng kí</a></li></label>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
            <div class="modal fade" id="Dangkiform" role="dialog"><div class="modal-dialog">
            <div class="modal-content"><div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h2 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Đăng ký người dùng</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/signup" method="post">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Họ Tên</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tennguoidung" id="tennguoidung" placeholder="Họ tên người dùng" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Mật khẩu</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="pass" id="pass" placeholder="Mật khẩu" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Nhập lại mật khẩu</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="passconfim" id="passagain" placeholder="Mật khẩu" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="council" class="col-sm-2 control-label">Giới tính</label>

                        <div class="col-sm-2">
                            <label>Nam: </label><input type="radio" name="gioitinh" class="gender" value="Nam" checked/> 
                        </div>
                        <div class="col-sm-8">
                            <label>Nữ: </label><input type="radio" name="gioitinh" class="gender" value="Nữ"/>
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="birthplace" class="col-sm-2 control-label">Ngày sinh</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name= "ngaysinh" id="ngaysinh" placeholder="Ngày sinh" data-parsley-required="true" data-parsley-type="number" data-parsley-error-message="Bắt buộc là số.">
                    </div>
                    </div>
                <!--  -->
                    <div class="form-group">
                    <label for="number" class="col-sm-2 control-label">Số điện thoại</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control"name="sodienthoai" id="sdt" placeholder="Số điện thoại" data-parsley-required="true" data-parsley-type="number" data-parsley-error-message="Bắt buộc là số.">
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Địa chỉ</label>

                    <div class="col-sm-10">
                    <input type="text" class="form-control" name="diachi" id="diachi" placeholder="Địa chỉ" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
                    </div>
                    </div>

    
                    <button type="submit" class="btn btn-success btn-sm" style="width: 100%">Đăng ký</button>
                    <i class="fa fa-plus"></i> 
            
                </form>
                </div>
            <div class="modal-footer">
            </div>
            
</div>
</div>
</div>
</div>
</div>
<!-- End Modal Insert -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>
<script type="text/javascript"src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script type="text/javascript" src="../api/js/abi/StorageABI.js"></script>
<script type="text/javascript" src="../api/js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../api/js/loadpage.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../api/js/libs/parsley.min.js"></script>
<script src="../api/js/libs/jquery.uploadfile.js"></script>
<!--Begin export excel-->
<script type="text/javascript" src="../api/js/libs/jquery.table2excel.js"></script>
<!--End export excel-->
<!--Time moment-->
<script type="text/javascript" src="../api/js/libs/momentjs.js"></script>
//- <script type="text/javascript" src="./api/js/libs/qrcode.min.js"></script>
//- <script type="text/javascript" src="../api/js/createqrcode.js"><script>
<!--End time moment-->
</body>
</html>