<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /><title>Metamorphosis Design Free Css Templates</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="sanpham.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="./api/js/libs/qrcode.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="loadpages" onload=getName()>
	<div class="loading" id="loading" style="display: none">
		<div class="blob blob-0"></div>
		</div>
		<script>function getName(){{$.ajax({method: "GET",url: "http://localhost:4000/login",contentType: "application/json",success: function (response) {if(response!= "no"){document.getElementById("name").innerHTML="";document.getElementById("logout").innerHTML="<a href='http://localhost:4000/signout'>"+"<span class='glyphicon glyphicon-user'>"+response+" <span class='glyphicon glyphicon-log-out'></span></a>"};},error: function (e) {alert("Đã có lỗi xảy ra!");console.log(e);}});}}</script>
	//<button name="" id="addsanpham" onclick="viewsanpham()" class="btn btn-success" style="width: 100%"><span class="glyphicon glyphicon-off"></span>View</button>
	<!-- start header -->
	<div class="container">
		<div id="contmain">
			<div id="left1">
				<div id="right1">
					<div id="header">
						<div id="logo">
							<h1>SEED PRODUCTION PROCESS</h1>
						</div>
						<div id="menu">
							<ul>
								<li><a href="/loginsuccess" class='active contentcaygiong glyphicon glyphicon-home'> Home</a></li>
<li><a href="/sanphamkhachhang"data-toggle="modal" data-target="#sp">Sản phẩm</a></li>
<li><a href="/about">Về chúng tôi</a></li>
<li><a href="/contact">Liên hệ</a></li>
<li><a href="#">Hỗ trợ</a></li>
<li><a href="#"><span class="glyphicon glyphicon-search"></span>Search</a></li>
//- <li >Tên đăng nhập</li>
<li id="name"><a href="#" data-toggle="modal" data-target="#myform"> <span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
<li id="logout"></li>
							</ul>  

</div>
						
						<!-- end header --></div>
						<!-- start page -->
						<div class="row">
						<div class="col-md-8">
						<div id="page"><!-- start content -->
							<div id="content">
								<div class="post">
									<h1 class="title"><a href="#">Sản phẩm</a></h1>
									<div class="row table-responsive-sm">
										<table class="table table-bordered table-condensed table-hover table-md" id="sanpham">
											<thead >
												<tr class="d-flex">
													<th id ="chucnang"></th>
													<th id ="stt">STT</th>
													<th id ="stt">ID</th>
													<th id="name">Tên Sản Phẩm</th>
													<th id="anh">Ảnh sản phẩm</th>
													<th>Thời gian tạo</th>
													<th>Thời gian chỉnh sửa</th>
													<th>Trạng thái</th>

												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
										<div class="pagination-container">
											<nav><ul id="paginationsanpham" class="pagination"></ul></nav></div>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- end content -->
						<div id="bottom" style="clear: both;"></div>
</div>
					<!-- end page --><!-- start footer -->
					<footer>
						<div class="wrapper">
							<div class="rights">
								
								<p class="nav navbar-nav navbar-right">Nguyen Chi Linh <a href="http://pixelhint.com" target="_blank">Gmail.com</a></p>
							</div>

							<nav>
								<ul class="nav navbar-nav navbar-right">
									<li><a href="#">About</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>    
					</footer><!--  End footer  -->
</div>
			</div>
</div>
	</div>

	<!-- Modal Insert -->
	<div class="modal fade" id="Insertsanphamform" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Thêm Sản Phẩm</h1>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-heading"></div>
						<div class="panel-body">
							<div class="form-vertical">
								<div class = "form-group">
									<label>Tên Sản Phẩm</label>
									<input type="text" name="" id="tensanpham" class="form-control" placeholder="Nhập tên sản phẩm">
								</div>
								<div class="form-group">
									<label>Ảnh của sản phẩm:</label>
									<input type="text" name="" id="anhsanpham" class="form-control" placeholder="hãy up ảnh lên đây">
								</div> 
								<div class="form-group">
									<button name="" id="addsanpham" onclick="addsanpham()" class="btn btn-success" style="width: 100%"><span class="glyphicon glyphicon-off"></span>add</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-6">
						<button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><b>x</b> Hủy bỏ</button>
					</div>
					<div class="col-xs-6">
						<p>Bạn có thắc mắc gì ? Hãy<a href=""> <span class="glyphicon glyphicon-log-in"></span>Liên hệ</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Modal Insert -->

		

	<!-- update sanpham management-->
		<div class="modal fade" id="detailsanphamModal">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Chi tiết sản phẩm</h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tableUpdatesanpham" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
        
	<!-- Ending update sanpham Modal-->
	
	<!-- Start Modal Update ảnh sản phẩm-->
	<div class="modal fade" id="updatetrangthai">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cập nhật giá trị</h4>
				</div>
				<div class="modal-body">
					<table style="magrin-left: 20px">
						<tr>
							<td><label>ID cây giống:  </label></td>
							<td class="modal-body2"><p></p></td>
						</tr>
					</table>
				</div>
				<div>
						<table style="padding: 20px;">
							<tr>
								<td><label>Tên cây cập nhật: </label></td>
								<td><input type="text" class="form-control" id="valueUpdatetrangthai" placeholder="Chọn ảnh muốn thay đổi" data-parsley-required="true" data-parsley-error-message="Không được rỗng.">
								</td>
							</tr>
							<table><tr><td><p></p></td></tr></table>
						</table>
						<table valign="center"><tr><td>Bạn chắc chắn muốn thay đổi?</td></tr></table><p></p></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary btn-xs" data-toggle="modal"onclick="updatetrangthai();">
							<i class="far fa-edit"></i>Update</button>&nbsp;<button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"> <i class="far fa-trash-alt"></i>Hủy</button>
						</div></div>
				</div>
			</div>		
	<!-- End Modal update anh san pham-->
	<!-- detail caygiong management-->
	<div class="modal fade" id="giaidoanModal">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Các giai đoạn </h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tabledetailcaygiong" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
			<!--end giaidpan MOdal-->
			<!-- start cay giong MOdal-->
			<div class="modal fade" id="detailcaygiongModal">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Chi tiết giai đoạn cây giống</h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tabledetailcaygiong" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
			<!-- Ending detail cay giong Modal-->

			<!-- start cay antrai detail MOdal-->
			<div class="modal fade" id="detailcayantraiModal">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Chi tiết giai đoạn cây ăn trái</h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tabledetailcayatrai" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
			<!-- Ending detail thu mua trai Modal-->

			<!-- start cay antrai detail MOdal-->
			<div class="modal fade" id="detailthumuaModal">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Chi tiết giai đoạn thu mua</h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tabledetailcayatrai" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
			<!-- Ending detail thu mua Modal-->

			<!-- start phan phoi detail MOdal-->
			<div class="modal fade" id="detailphanphoiModal">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Chi tiết giai đoạn phân phối</h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tabledetailcayatrai" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
			<!-- Ending detail phan phoi Modal-->

			<!-- start ban le detail MOdal-->
			<div class="modal fade" id="detailbanleModal">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Chi tiết giai đoạn bán lẻ</h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tabledetailcayatrai" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
			<!-- Ending detail ban le Modal-->
			<!-- Modal Insert caygiong-->
			<div class="modal fade" id="InsertCaygiongform" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Thêm Cây Giống</h1>
				</div>
				<div class="modal-body">
						<div class="panel panel-info">
						<div class="panel-heading">Add</div>
						<div class="panel-body">
							<div class="form-vertical">
							<div class="form-group">
									<label>ID Sản Phẩm:  </label>
									<span id="idsanphamcaygiong"><p></p></span>
							</div> 
								<div class="form-group">
									<label>Khu vực:</label>
									<input type="text" name="" id="khuvuctrong" class="form-control" placeholder="Nhập tên khu vực trồng">
								</div> 

								<div class="form-group">
									<label>Người trồng:</label>

									<input type="text" name="" id="nguoitrong" class="form-control" placeholder="Nhập tên người trồng cây giống">

								</div>
								<div class="form-group">
									<label>Phân bón:</label>
									<input type="text" name="" id="phanbon" class="form-control" placeholder="Nhập tên phân bón đã sử dụng để trồng cây giống">
								</div>
								<div class="form-group">
									<label>Thời vụ:</label>

									<input type="text" name="" id="thoivu" class="form-control" placeholder="Nhập tên thời vụ trồng cây giống">

								</div>
								<div class = "form-group">
									<label>Diện tích trồng</label>
									<input type="text" name="" id="dientich" class="form-control" placeholder="Nhập diện tích trồng">
								</div>
								<div class = "form-group">
									<label>Số lượng</label>
									<input type="text" name="" id="soluong" class="form-control" placeholder="Nhập số lượng cây giống được trồng">
								</div>
								<div class="form-group">
									<button name="" id="addcaygiong" onclick="addCaygiong()" class="btn btn-success" style="width: 100%"><span class="glyphicon glyphicon-off"></span>add</button>
								</div>
							</div>
						</div>
						</div>
						</div>
				<div class="modal-footer">
				<div class="col-xs-6">
						<button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><b>x</b> Hủy bỏ</button>
						</div>
						<div class="col-xs-6">
						<p>Bạn chưa phải là thành viên? <a href="">Đăng ký</a></p>
						<p>Quên<a href="">mật khẩu?</a></p>
				</div>
				</div>
				</div>

			</div>
			</div>
			<!-- End Modal Insert cay giong -->
			<!-- Modal Insert cay an trai -->
	<div class="modal fade" id="InsertCayantraiform" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Thêm Cây Ăn Trái</h1>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-heading">Add</div>
						<div class="panel-body">
							<div class="form-vertical">
								<div class="form-group">
										<label>ID Sản Phẩm:  </label>
										<span id="idsanphamcayantrai"><p></p></span>
								</div> 
								<div class="form-group">
									<label>Khu vực trồng:</label>
									<input type="text" name="" id="khuvuctrongcayantrai" class="form-control" placeholder="Nhập tên khu vực trồng">
								</div> 

								<div class="form-group">
									<label>Người chăm sóc:</label>

									<input type="text" name="" id="nguoitrongcayantrai" class="form-control" placeholder="Nhập tên người trồng cây giống">

								</div>
								<div class="form-group">
									<label>Phân bón:</label>

									<input type="text" name="" id="phanboncayantrai" class="form-control" placeholder="Nhập tên phân bón đã sử dụng để trồng cây giống">

								</div>
								<div class="form-group">
									<label>Thời vụ:</label>

									<input type="text" name="" id="thoivucayantrai" class="form-control" placeholder="Nhập tên thời vụ trồng cây giống">

								</div>
								<div class = "form-group">
									<label>Số lượng</label>
									<input type="text" name="" id="soluongcayantrai" class="form-control" placeholder="Nhập số lượng cây ăn trái được trồng">
								</div>
								<div class="form-group">
									<button name="" id="addcayantrai" onclick="addcayantrai()" class="btn btn-success" style="width: 100%"><span class="glyphicon glyphicon-off"></span>add</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-6">
						<button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><b>x</b> Hủy bỏ</button>
					</div>
					<div class="col-xs-6">
						<p>Bạn chưa phải là thành viên? <a href="">Đăng ký</a></p>
						<p>Quên<a href="">mật khẩu?</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Modal cay an trai  Insert -->
	<!-- Modal Insert thu mua -->
	<div class="modal fade" id="InsertThumuaform" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Thêm Giai Đoạn Thu Mua</h1>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-heading">Add</div>
						<div class="panel-body">
							<div class="form-vertical">
								<div class="form-group">
									<label>ID Sản Phẩm:  </label>
									<span id="idsanphamthumua"><p></p></span>
								</div> 
								<div class = "form-group">
									<label>Tên người thu mua</label>
									<input type="text" name="" id="nguoithumua" class="form-control" placeholder="Nhập tên người thu mua">
								</div>
								<div class="form-group">
									<label>Nơi thu mua:</label>
									<input type="text" name="" id="noithumua" class="form-control" placeholder="Nhập tên địa điểm thu mua">
								</div> 

								<div class="form-group">
									<label>Cách thức thu mua:</label>

									<input type="text" name="" id="cachthucthumua" class="form-control" placeholder="Nhập tên người trồng cây giống">
								</div>
								<div class="form-group">
									<button name="" id="addthumua" onclick="addthumua()" class="btn btn-success" style="width: 100%"><span class="glyphicon glyphicon-off"></span>add</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-6">
						<button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><b>x</b> Hủy bỏ</button>
					</div>
					<div class="col-xs-6">
						<p>Bạn chưa phải là thành viên? <a href="">Đăng ký</a></p>
						<p>Quên<a href="">mật khẩu?</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Modal Insert -->
	
	<!-- Modal Insert phanhphoi -->
	<div class="modal fade" id="InsertPhanphoiform" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Thêm Giai đoạn thu mua</h1>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-heading">Add</div>
						<div class="panel-body">
							<div class="form-vertical">
								<div class="form-group">
										<label>ID Sản Phẩm:  </label>
										<span id="idsanphamphanphoi"><p></p></span>
								</div> 
								<div class = "form-group">
									<label>Cơ sở phan phoi</label>
									<input type="text" name="" id="cosophanphoi" class="form-control" placeholder="Cơ sở phân phấn">
								</div>
								<div class="form-group">
									<label>Nơi phan phoi:</label>
									<input type="text" name="" id="noiphanphoiden" class="form-control" placeholder="Nhập tên địa điểm phan phoi">
								</div> 

								<div class="form-group">
									<label>Cách thức phan phoi:</label>

									<input type="text" name="" id="cachthucphanphoi" class="form-control" placeholder="Nhập cách thức phân phôi">

								</div>
								<div class="form-group">
									<label>Đóng gói:</label>

									<input type="text" name="" id="donggoi" class="form-control" placeholder="Nhập cách thưc đóng gói">

								</div>
								<div class="form-group">
									<label>Phương thức bảo quản:</label>

									<input type="text" name="" id="baoquan" class="form-control" placeholder="Nhập phương thức bảo quản">

								</div>
								<div class="form-group">
									<button name="" id="addphanphoi" onclick="addphanphoi()" class="btn btn-success" style="width: 100%"><span class="glyphicon glyphicon-off"></span>add</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-6">
						<button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><b>x</b> Hủy bỏ</button>
					</div>
					<div class="col-xs-6">
						<p>Bạn chưa phải là thành viên? <a href="">Đăng ký</a></p>
						<p>Quên<a href="">mật khẩu?</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Modal Insert phan phoi -->
	<!-- Modal Insert ban le -->
	<div class="modal fade" id="InsertBanleform" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Thêm Giai Đoạn Bán Lẻ</h1>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-heading">Add</div>
						<div class="panel-body">
							<div class="form-vertical">
								<div class="form-group">
									<label>ID Sản Phẩm:  </label>
									<span id="idsanphambanle"><p></p></span>
								</div> 
								<div class = "form-group">
									<label>Tên người ban le</label>
									<input type="text" name="" id="nguoibanle" class="form-control" placeholder="Nhập tên người ban le">
								</div>
								<div class="form-group">
									<label>Nơi ban le:</label>
									<input type="text" name="" id="noibanle" class="form-control" placeholder="Nhập tên địa điểm ban le">
								</div> 

								<div class="form-group">
									<label>Cách thức ban le:</label>

									<input type="text" name="" id="cachthucbanle" class="form-control" placeholder="Nhập tên người trồng cây giống">

								</div>
								<div class="form-group">
									<label>Phương thức bảo quản:</label>

									<input type="text" name="" id="baoquanbanle" class="form-control" placeholder="Nhập phương thức bảo quản">

								</div>
								<div class="form-group">
									<button name="" id="addbanle" onclick="addbanle()" class="btn btn-success" style="width: 100%"><span class="glyphicon glyphicon-off"></span>add</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-6">
						<button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><b>x</b> Hủy bỏ</button>
					</div>
					<div class="col-xs-6">
						<p>Bạn chưa phải là thành viên? <a href="">Đăng ký</a></p>
						<p>Quên<a href="">mật khẩu?</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Modal Insert ban le -->
<div class="modal fade" id="createqrModal">
<div class="modal-dialog">
<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-fw fa-close btn-remove"></i>
					</button>
					<h4 class="modal-title">Create QR Code</h4>
				</div>
					<div class="modal-body" style="overflow-x:auto;">
						<table id="tableqrcode" class="table"cellspacing="0" style="width:100%">
							<tbody>
							
							</tbody>
						</table>
					</div>
				</div>
</div>
</div>
<div class="modal fade" id="qrcode" role="dialog"><div class="modal-dialog">
<div class="modal-content"><div class="modal-header">
<button type="button" class="close" data-dismiss="modal">x</button>
<h2 class="modal-title" style="text-align: center"><span class="glyphicon glyphicon-lock"></span> Ma qr code</h2>
</div>
<div class="modal-body">
<form class="form-horizontal" action="/login" method="post">
<div class="form-group">
<div id="id_qrcode" align ="center"></div>
</div>
</form>
</div>
<div class="modal-footer">
<div>
<label>Nếu bạn chưa phải là thành viên hãy <li><a href="#" data-toggle="modal" data-target="#Dangkiform"><span class="glyphicon glyphicon-log-in"></span>Đăng kí</a></li></label>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>
	<script type="text/javascript"src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
	<script type="text/javascript" src="../api/js/abi/StorageABI.js"></script>
	<script type="text/javascript" src="../api/js/sanphamkhachhang.js"></script>
	<script type="text/javascript" src="../api/js/loadpage.js"></script>
	<script type="text/javascript" src="../api/js/qrcode.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="../api/js/libs/parsley.min.js"></script>
	<script src="../api/js/libs/jquery.uploadfile.js"></script>
	<script type="text/javascript" src="../api/js/libs/momentjs.js"></script>
	<script type="text/javascript" src="../api/js/libs/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="../api/js/libs/jquery.tablesorter.widgets.min.js"></script>
	<!-- end footer -->
</body>
</html>